<?xml version="1.0" encoding="UTF-8" ?>
<!-- Logback configuration XML. See http://logback.qos.ch/manual/configuration.html#syntax -->
<configuration>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/reefpage-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${catalina.home}/logs/reefpage-service.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d [%t] %-5p [%c] %m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="file" />
	</root>
</configuration>